<?xml version="1.0"?>
<config>
    <modules>
        <Brabs_Addtocart>
            <version>0.1.0</version>
        </Brabs_Addtocart>
    </modules>
    <global>
        <models>
            <brabs_addtocart>
                <class>Brabs_Addtocart_Model</class>
                <resourceModel>brabs_addtocart_resource</resourceModel>
            </brabs_addtocart>
            <brabs_addtocart_resource>
                <class>Brabs_Addtocart_Model_Resource</class>
            </brabs_addtocart_resource>
        </models>
        <blocks>
            <addtocart>
                <class>Brabs_Addtocart_Block</class>
            </addtocart>
        </blocks>
        <helpers>
            <brabs_addtocart>
                <class>Brabs_Addtocart_Helper</class>
            </brabs_addtocart>
        </helpers>
    </global>
    <frontend>
		<layout>
			<updates>
				<addtocart>
					<file>addtocart.xml</file>
				</addtocart>
			</updates>
		</layout>
    </frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<addtocart translate="title" module="addtocart">
											<title>Fixed Add to Cart Settings</title>
										</addtocart>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>